<fieldset>
															<div class="row">
																<div class="col-md-4 col-xs-12">
																	<h3 class="contact_us--form_title">Nama Depan</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="Nama Depan" name="fields[namaDepan]">
																	</label>
																</div>
																<div class="col-md-4 col-xs-12">
																	<h3 class="contact_us--form_title">Nama Tengah</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="Nama Tengah" name="fields[namaTengah]">
																	</label>
																</div>
																<div class="col-md-4 col-xs-12">
																	<h3 class="contact_us--form_title">Nama Belakang</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="Nama Belakang" name="fields[namaBelakang]" required="">
																	</label>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6 col-xs-12">
																	<label class="field -wide">
																		<h3 class="contact_us--form_title">Jenis Kelamin</h3>
																		 <select name="fields[car]" class="selectstyle" required=""> 
																		  <option value="perusahaan">Laki-laki</option>
																		  <option value="pribadi">Perempuan</option>
																		</select> 
																	</label>
																</div>
																<div class="col-md-6 col-xs-12">
																	<h3 class="contact_us--form_title">Email</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="Email" name="fields[email]" required="">
																	</label>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6 col-xs-12">
																	<h3 class="contact_us--form_title">No. Telpon Rumah</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="No. Telpon Rumah" name="fields[noTelpRumah]" required="">
																	</label>
																</div>
																<div class="col-md-6 col-xs-12">
																	<h3 class="contact_us--form_title">No. Telpon Handphone</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="No. Telpon Handphone" name="fields[noTelpHp]" required="">
																	</label>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6 col-xs-12">
																	<h3 class="contact_us--form_title">Kota Domisili</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="Kota Domisili" name="fields[kotaDomisili]" required="">
																	</label>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6 col-xs-12">
																	<h3 class="contact_us--form_title">Nama Perusahaan</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="Nama Perusahaan" name="fields[namaPerusahaan]" required="">
																	</label>
																</div>
																<div class="col-md-6 col-xs-12">
																	<h3 class="contact_us--form_title">Sektor Usaha</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="Sektor Usaha" name="fields[sektorUsaha]" >
																	</label>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6 col-xs-12">
																	<h3 class="contact_us--form_title">Jabatan</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="Jabatan" name="fields[jabatan]" >
																	</label>
																</div>
																<div class="col-md-6 col-xs-12">
																	<h3 class="contact_us--form_title">Email Kantor</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="Email Kantor" name="fields[emailKantor]" >
																	</label>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6 col-xs-12">
																	<h3 class="contact_us--form_title">No. Telpon Kantor</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="No. Telpon Kantor" name="fields[telKantor]" >
																	</label>
																</div>
																<div class="col-md-6 col-xs-12">
																	<h3 class="contact_us--form_title">Alamat Kantor</h3>
																	<label class="field -wide">
																		<input type="text" placeholder="Alamat Kantor" name="fields[alamatKantor]" required="">
																	</label>
																</div>
															</div>
															<div class="row">
																<div class="col-md-9 col-xs-12">
																</div>
																<div class="col-md-3 col-xs-12">
																	<div class="contact_form--submit">
																		<button class="button -menu_size -waikawa_gray -bordered" type="submit"><span class="button--inner">Kirim</span></button>
																	</div>
																</div>
															</div>
														</fieldset>