<fieldset>
															<div class="row">
																<div class="col-md-6 col-xs-12">
																	<label class="field -wide">
																		<h3 class="contact_us--form_title">Perusahaan / Individu</h3>
																		 <select id="jenis" name="fields[perusahaan]" class="selectstyle" required="">
																		  <option value="perusahaan" selected>Perusahaan</option>
																		  <option value="pribadi">Pribadi</option>
																		</select>
																	</label>
																</div>
															</div>
															
															<div id="perusahaan">
																<div class="row">
																	<div class="col-md-6 col-xs-12">
																		<h3 class="contact_us--form_title">Nama Perusahaan</h3>
																		<label class="field -wide">
																			<input type="text" placeholder="Nama Perusahaan" name="fields[namaPerusahaan]">
																		</label>
																	</div>
																	<div class="col-md-6 col-xs-12">
																		<h3 class="contact_us--form_title">Bidang Industri</h3>
																		<label class="field -wide">
																			<input type="text" placeholder="Bidang Industri" name="fields[bidangIndustri]" >
																		</label>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-6 col-xs-12">
																		<h3 class="contact_us--form_title">Email</h3>
																		<label class="field -wide">
																			<input type="text" placeholder="Email" name="fields[emailPerusahaan]" >
																		</label>
																	</div>
																	<div class="col-md-6 col-xs-12">
																		<h3 class="contact_us--form_title">Alamat</h3>
																		<label class="field -wide">
																			<input type="text" placeholder="Alamat" name="fields[alamatPerusahaan]">
																		</label>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-6 col-xs-12">
																		<h3 class="contact_us--form_title">No. Telpon</h3>
																		<label class="field -wide">
																			<input type="text" placeholder="No. Telpon" name="fields[noTelpPerusahaan]" >
																		</label>
																	</div>
																	<div class="col-md-6 col-xs-12">
																	</div>
																</div>
															</div>

															<!-- Perorangan -->
															<div id="perorangan">
																<div class="row">
																	<div class="col-md-6 col-xs-12">
																		<h3 class="contact_us--form_title">Nama Lengkap</h3>
																		<label class="field -wide">
																			<input type="text" placeholder="Nama Lengkap" name="fields[namaLengkap]" >
																		</label>
																	</div>
																	<div class="col-md-6 col-xs-12">
																		<h3 class="contact_us--form_title">Bidang Pekerjaan</h3>
																		<label class="field -wide">
																			<input type="text" placeholder="Bidang Pekerjaan" name="fields[bidangPekerjaan]">
																		</label>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-6 col-xs-12">
																		<h3 class="contact_us--form_title">No. Handphone</h3>
																		<label class="field -wide">
																			<input type="text" placeholder="No. Handphone" name="fields[nomorHp]" >
																		</label>
																	</div>
																	<div class="col-md-6 col-xs-12">
																		<h3 class="contact_us--form_title">Email</h3>
																		<label class="field -wide">
																			<input type="text" placeholder="Email" name="fields[email]">
																		</label>
																	</div>
																</div>
															</div>


															<div class="row">
																<div class="col-md-12 col-xs-12">
																<h3 class="contact_us--form_title">Pesan</h3>
																	<label class="field -wide">
																		<textarea cols="30" rows="5" placeholder="Pesan" name="fields[message]" ></textarea>
																	</label>
																</div>
															</div>
															<div class="row">
																<div class="col-md-9 col-xs-12">
																</div>
																<div class="col-md-3 col-xs-12">
																	<div class="contact_form--submit">
																		<button class="button -menu_size -waikawa_gray -bordered" type="submit"><span class="button--inner">Kirim</span></button>
																	</div>
																</div>
															</div>

															<script>

																window.onload = function() {
																    var jenis = document.getElementById("jenis");
																	var strJenis = jenis.options[jenis.selectedIndex].value;
																	if(strJenis=='perusahaan'){
																		$("#perorangan").hide();
																		$("#perusahaan").show();
																	}
																	else if (strJenis == 'pribadi'){
																		$("#perusahaan").hide();
																		$("#perorangan").show();
																	}
																}

																document.getElementById('jenis').onchange = function() {	
																	var jenis = document.getElementById("jenis");
																	var strJenis = jenis.options[jenis.selectedIndex].value;
																	if(strJenis=='perusahaan'){
																		$("#perorangan").hide();
																		$("#perusahaan").show();
																	}
																	else if (strJenis == 'pribadi'){
																		$("#perusahaan").hide();
																		$("#perorangan").show();
																	}
																}
															</script> 

														</fieldset>