					<div class="container">
						<div class="header--inner">
							<div class="row">
								<div class="col-lg-2 col-md-12">
									<div class="header--logo logo">
										<a href="/"><img src="/assets/images/design/logo-header.png" alt="" /></a>
									</div>
								</div>
								<div class="col-lg-10 col-md-12 visible-md-block visible-lg-block">
									<div class="header--right">
										<div class="header_contacts">
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-phone color_orange"></i>
													<strong>0822-9737-6700</strong>
													<span>Monday-Friday, 9am - 5pm</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-message color_orange"></i>
													<strong>info@salesku.id</strong>
													<span>Drop us a line anytime!</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-geo-fence color_orange"></i>
													<strong>The City Tower vOffice Level 12-1N</strong>
													<span>Jl. MH Thamrin No.81,Jakarta Pusat</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>