<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Salesku</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/assets/images/content/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/assets/styles/main.css">
</head>

<body>
	<div id="main">
		<div class="layout">
			<div class="layout--header">
				<header class="header">
					<div class="container">
						<div class="header--inner">
							<div class="row">
								<div class="col-lg-2 col-md-12">
									<div class="header--logo logo">
										<a href="/"><img src="/assets/images/design/logo-header.png" alt="" /></a>
									</div>
								</div>
								<div class="col-lg-10 col-md-12 visible-md-block visible-lg-block">
									<div class="header--right">
										<div class="header_contacts">
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-phone color_orange"></i>
													<strong>0822-9737-6700</strong>
													<span>Monday-Friday, 9am - 5pm</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-message color_orange"></i>
													<strong>info@salesku.id</strong>
													<span>Drop us a line anytime!</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-geo-fence color_orange"></i>
													<strong>vOffice Level 12-1N</strong>
													<span>Jl. MH Thamrin No.81,Jakarta Pusat</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="header_nav -wide visible-md-block visible-lg-block">
						<div class="header_nav--inner">
							<%- include ./menu.ejs %>
						</div>
					</nav>
					<div class="header--menu_opener visible-xs-block visible-sm-block">
						<span class="c-hamburger c-hamburger--htx">
							<span>toggle menu</span>
						</span>
					</div>
				</header>
				<header class="header header_sticky">
					<div class="container">
						<div class="header--inner">
							<div class="row">
								<div class="col-lg-2 col-md-12">
									<div class="header--logo logo">
										<a href="#"><img src="/assets/images/design/logo-header.png" alt="" /></a>
									</div>
								</div>
								<div class="col-lg-10 col-md-12 visible-md-block visible-lg-block">
									<div class="header--right">
										<div class="header_contacts">
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-phone color_orange"></i>
													<strong>0822-9737-6700</strong>
													<span>Monday-Friday, 9am - 5pm</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-message color_orange"></i>
													<strong>info@salesku.id</strong>
													<span>Drop us a line anytime!</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-geo-fence color_orange"></i>
													<strong>vOffice Level 12-1N</strong>
													<span>Jl. MH Thamrin No.81,Jakarta Pusat</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="header_nav -wide visible-md-block visible-lg-block">
						<div class="header_nav--inner">
							<%- include ./menu.ejs %>
						</div>
					</nav>
					<div class="header--menu_opener visible-xs-block visible-sm-block">
						<span class="c-hamburger c-hamburger--htx">
							<span>toggle menu</span>
						</span>
					</div>
				</header>
			</div>
			<div class="layout--container">
				<section class="promo_slider">
					<div class="promo_slider--slides js-promo_slider">
						<div class="promo_slider--slide">
							<div class="slide_simple" style="background-image: url(/assets/images/content/promos/promo2.jpg)">
								<div class="slide_simple--container">
									<div class="container">
										<div class="col-sm-10 col-sm-offset-1">
											<h1 class="slide_simple--title">Spread Kindness</h1>
											<p class="slide_simple--text">
												Encouraging and empowering people to practice kindness in their everyday lives
											</p>
											<div class="slide_simple--buttons">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="promo_slider--slide">
							<div class="slide_simple" style="background-image: url(/assets/images/content/promos/promo1.jpg)">
								<div class="slide_simple--container">
									<div class="container">
										<div class="col-sm-10 col-sm-offset-1">
											<h1 class="slide_simple--title">Help Sales</h1>
											<p class="slide_simple--text">
												 We can help sales to sell more effectively
											</p>
											<div class="slide_simple--buttons">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="promo_slider--slide">
							<div class="slide_simple" style="background-image: url(/assets/images/content/promos/promo3.jpg)">
								<div class="slide_simple--container">
									<div class="container">
										<div class="col-sm-10 col-sm-offset-1">
											<h1 class="slide_simple--title">Help Customer</h1>
											<p class="slide_simple--text">
												We provide advisory for the clients with quality of service
											</p>
											<div class="slide_simple--buttons">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="promo_slider--slide">
							<div class="slide_simple" style="background-image: url(/assets/images/content/promos/promo4.jpg)">
								<div class="slide_simple--container">
									<div class="container">
										<div class="col-sm-10 col-sm-offset-1">
											<h1 class="slide_simple--title">Help People</h1>
											<p class="slide_simple--text">
												We provide a quality service for the people
											</p>
											<div class="slide_simple--buttons">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="promo_slider_nav">
						<div class="container">
							<div class="js-promo_slider_nav">
								<div class="promo_slider_nav--slide">
									<div class="promo_slider_nav--item">
										<i class="promo_slider_nav--item_icon icons8-idea"></i>
										<strong class="promo_slider_nav--item_title">Spread Kindness</strong>
									</div>
								</div>
								<div class="promo_slider_nav--slide">
									<div class="promo_slider_nav--item">
										<i class="promo_slider_nav--item_icon icons8-bullish"></i>
										<strong class="promo_slider_nav--item_title">Help Sales</strong>
									</div>
								</div>
								<div class="promo_slider_nav--slide">
									<div class="promo_slider_nav--item">
										<i class="promo_slider_nav--item_icon icons8-talk"></i>
										<strong class="promo_slider_nav--item_title">Help Customer</strong>
									</div>
								</div>
								<div class="promo_slider_nav--slide">
									<div class="promo_slider_nav--item">
										<i class="promo_slider_nav--item_icon icons8-conference"></i>
										<strong class="promo_slider_nav--item_title">Help People</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<br><br><br><br><br><br>
			<!-- about -->
			<section class="section -compact -gray_light">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="who_mini">
								<div class="section--header">
									<h2 class="section--title">The Story of salesku</h2>
								</div>
								<div class="who_mini--container">
									<div class="row">
										<div class="col-md-12">
											<div class="who_mini--gallery">
												<div class="row">
													<div class="col-md-12 col-sm-6 col-xs-12">
														<figure class="who_mini--gallery_item"><center><img src="/assets/images/content/book.png" alt=""></center></figure>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="who_mini--text">
												<br>
												<p>Teknologi telah banyak membawa kemudahan bagi customer. Fitur-fitur teknologi telah mengambil peran penting termasuk di industri consumer finance  (banking, asuransi, finansial). Untuk mendapatkan akses dan penawaran produk terbaik, customer akan mendapatkan berbagai referensi dari beberapa sumber secara online maupun offline. Sales  tidak lagi menjadi satu-satunya rujukan bagi customers.
												</p>
												<p>Dinamika ini kemudian memunculkan  pertanyaan, apakah  profesi sales masih dibutuhkan  di era digital saat ini? Peta dan pola penjualan telah mengalami perubahan, sesungguhnya yang kekal dan abadi adalah perubahan itu sendiri. Analogi tentang dinosaurus yang punah karena tidak berhasil menyesuaikan diri dengan perkembangan zaman perlu menjadi perhatian bagi seluruh insan sales.
												</p>
												<p>Sebagai ujung tombak proses penjualan, sales dituntut untuk selalu dapat menunjukkan performa terbaik. Teori penjualan tradisional tidak akan pernah terlupakan. Tuntutan untuk selalu beradaptasi dengan perkembangan zaman terkini harus selalu tertanam dalam benak seorang sales. Hi-Tech berkolaborasi  dengan Human Touch adalah jawabannya. Online channel harus dikolaborasikan dengan offline channel dan sebaliknya. Sales harus memiliki kompetensi yang akan menjawab tantangan perkembangan teknologi.
												</p>
												<p>Selamat datang di salesku. Tumbuh berkembang bersama merajut asa, menghasilkan  karya dengan keinginan tulus untuk memberikan manfaat kepada sesama dan negeri tercinta kita, Indonesia. Pagi team…..! Kabar baik….? Luar Biasa…..! Spread Kindness!
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end of about -->

			<!-- client -->
			<section class="section">
				<div class="container">
					<div class="section--header">
						<h2 class="section--title">Clients</h2>
						<p class="section--description">
							Listing of our target client
						</p>
					</div>
					<div class="section--container">
						<div class="services">
							<div class="row">
								<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
									<div class="service_item">
										<i class="service_item--icon icons8-sell-property"></i>
										<h3 class="service_item--title">Aggregator</h3>
										<div class="service_item--text">

										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
									<div class="service_item">
										<i class="service_item--icon icons8-bank"></i>
										<h3 class="service_item--title">Banking</h3>
										<div class="service_item--text">

										</div>
									</div>
								</div>
								<div class="clearfix visible-sm-block"></div>
								<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
									<div class="service_item">
										<i class="service_item--icon icons8-umbrella"></i>
										<h3 class="service_item--title">Insurance</h3>
										<div class="service_item--text">

										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
									<div class="service_item">
										<i class="service_item--icon icons8-sales-performance"></i>
										<h3 class="service_item--title">Finance</h3>
										<div class="service_item--text">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- client -->

			<br>
			<div class="layout--footer">
				<footer class="footer -deluge">
					<div class="footer--bg"></div>
					<div class="footer--inner">
						<div class="container">
							<section class="footer_copyrights">
								<div class="footer_copyrights--container">
									<div class="row">
										<div class="col-sm-6 col-xs-12">
											<div class="footer_copyrights--item">
												<div class="footer_copyrights--logo">
													<a href="#"><img src="/assets/images/design/logo-footer.png" alt="" /></a>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-xs-12">
											<div class="footer_copyrights--item">
												<p class="footer_copyrights--item_copyrights">PT. Salesku Abiwara Indonesia</p>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>

	<%- include ./menu-footer.ejs %>

	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="/assets/libs/Headhesive.js/dist/headhesive.min.js"></script>
	<script src="/assets/libs/slideout.js/dist/slideout.min.js"></script>
	<link rel="stylesheet" href="/assets/libs/magnific-popup/dist/magnific-popup.css">
	<script src="/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script src="/assets/libs/youtubeBackground.min/build/jquery.youtubebackground.min.js"></script>
	<script src="/assets/libs/vide/dist/jquery.vide.min.js"></script>
	<script src="/assets/libs/social-sharing-buttons/social-buttons.js"></script>
	<link rel="stylesheet" href="/assets/libs/social-sharing-buttons/social-buttons.css">
	<script src="/assets/libs/mixitup/build/jquery.mixitup.min.js"></script>
	<script src="/assets/libs/isMobile/isMobile.min.js"></script>
	<script src="/assets/libs/isInViewport/lib/isInViewport.min.js"></script>
	<script src="/assets/libs/progressbar.js/dist/progressbar.min.js"></script>
	<script src="/assets/libs/select2/dist/js/select2.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="/assets/libs/tabby/dist/js/tabby.min.js"></script>
	<script src="/assets/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
	<script src="/assets/libs/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
	<script src="/assets/libs/blueimp-file-upload/js/jquery.fileupload.js"></script>
	<script src="/assets/libs/slick-carousel/slick/slick.min.js"></script>
	<link rel="stylesheet" href="/assets/libs/slick-carousel/slick/slick.css">
	<script src="/assets/scripts/main.js"></script>
</body>

</html>
