<div id="mobile_sidebar" class="mobile_sidebar">
  <div class="mobile_sidebar--closer -white">
    <button class="c-hamburger c-hamburger--htx is-active"><span>toggle menu</span></button>
  </div>
  <div class="mobile_menu">
    <ul class="menu">
            <li class="head-item"><a href="/">Home</a></li>
      <li class="head-item"><a id="groupBankingFinance" href="#">Banking & Finance</a></li>
            <li class="menu-item group-banking-finance"> <span class="mega_nav--item_icon_mobile icons8-discount"></span> <a href="/kartu-kredit/promo">Kartu Kredit Promo</a></li>
            <li class="menu-item group-banking-finance"> <span class="mega_nav--item_icon_mobile icons8-gift"></span> <a href="/kartu-kredit/reward">Kartu Kredit Reward</a></li>
            <li class="menu-item group-banking-finance"> <span class="mega_nav--item_icon_mobile icons8-expensive-2"></span> <a href="/kartu-kredit/cashback">Kartu Kredit Cashback</a></li>
            <li class="menu-item group-banking-finance"> <span class="mega_nav--item_icon_mobile icons8-business"></span> <a href="/kartu-kredit/miles">Kartu Kredit Miles</a></li>
            <li class="menu-item group-banking-finance"> <span class="mega_nav--item_icon_mobile icons8-shopping-cart"></span> <a href="/kartu-kredit/shopping">Kartu Kredit Shopping</a></li>
            <li class="menu-item group-banking-finance"> <span class="mega_nav--item_icon_mobile icons8-historic-ship"></span> <a href="/kartu-kredit/travel">Kartu Kredit Travel</a></li>
            <li class="menu-item group-banking-finance"> <span class="mega_nav--item_icon_mobile icons8-dumbbell"></span> <a href="/kartu-kredit/lifestyle">Kartu Kredit Lifestyle</a></li>
            <li class="menu-item group-banking-finance"> <span class="mega_nav--item_icon_mobile icons8-bank-cards-2"></span> <a href="/kartu-kredit/charge-card">Kartu Kredit Charge Card</a></li>
            <li class="menu-item group-banking-finance"> <span class="mega_nav--item_icon_mobile icons8-conference-call"></span><a href="/kartu-kredit/syariah">Kartu Kredit Syariah</a></li>

      <li class="head-item"><a id="groupInsurance" href="#">Insurance</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/001.jpg" alt="" /></figure> <a href="/asuransi/mobil">Asuransi Mobil</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/002.jpg" alt="" /></figure> <a href="/asuransi/motor">Asuransi Motor</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/003.jpg" alt="" /></figure> <a href="/asuransi/sepeda">Asuransi Sepeda</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/004.jpg" alt="" /></figure> <a href="/asuransi/rumah-apartment">Asuransi Rumah Apartemen</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/005.jpg" alt="" /></figure> <a href="/asuransi/ruko-rukan">Asuransi Ruko Rukan</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/006.jpg" alt="" /></figure> <a href="/asuransi/tempat-usaha">Asuransi Tempat Usaha</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/007.jpg" alt="" /></figure> <a href="/asuransi/industri">Asuransi Industri</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/008.jpg" alt="" /></figure> <a href="/asuransi/kesehatan">Asuransi Kesehatan</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/009.jpg" alt="" /></figure><a href="/asuransi/personal-accident">Asuransi Personal Accident</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/010.jpg" alt="" /></figure><a href="/asuransi/travel">Asuransi Travel</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/011.jpg" alt="" /></figure><a href="/asuransi/surety-bond">Asuransi Surety Bond</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/012.jpg" alt="" /></figure><a href="/asuransi/prefessional-indemnity">Asuransi Professional Indemnity</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/013.jpg" alt="" /></figure><a href="/asuransi/marine-cargo">Asuransi Marine Cargo</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/014.jpg" alt="" /></figure><a href="/asuransi/term-life">Asuransi Term Life</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/015.jpg" alt="" /></figure><a href="/asuransi/unit-link">Asuransi Unit Link</a></li>
            <li class="menu-item group-insurance"> <figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/016.jpg" alt="" /></figure><a href="/asuransi/dana-pensiun">Asuransi Dana Pensiun</a></li>
      <li class="head-item"><a id="groupTraining" href="#">Training</a></li>
            <li class="menu-item group-training"> <span class="mega_nav--item_icon_mobile icons8-training"></span> <a href="/training/professional-selling-skill">Professional Selling Skill</a></li>
            <li class="menu-item group-training"> <span class="mega_nav--item_icon_mobile icons8-conference"></span> <a href="/training/sales-leadership">Sales Leadership</a></li>
            <li class="menu-item group-training"> <span class="mega_nav--item_icon_mobile icons8-bullish"></span> <a href="/training/customer-relationship-management">Customer Relationship Management (CRM)</a></li>
            <li class="menu-item group-training"> <span class="mega_nav--item_icon_mobile icons8-conference-call"></span> <a href="/training/collection-skill">Collection Skill</a></li>
            <li class="menu-item group-training"> <span class="mega_nav--item_icon_mobile icons8-business"></span> <a href="/training/managing-for-growth">Managing for Growth</a></li>
            <li class="menu-item group-training"> <span class="mega_nav--item_icon_mobile icons8-gender-neutral-user	"></span> <a href="/training/professional-development-and-team-building">Professional Development & Team Building</a></li>
      <li class="head-item"><a id="groupSales" href="#">Sales Support</a></li>
            <li class="menu-item group-sales-support"><figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/201.jpg" alt="" /></figure><a href="/sales-support/online-offline">Online-Offline Sales (O2O) Integration Platform</a></li>
            <li class="menu-item group-sales-support"><figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/202.jpg" alt="" /></figure><a href="/sales-support/multi-product">Multi Product & Multi Channel</a></li>
            <li class="menu-item group-sales-support"><figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/203.jpg" alt="" /></figure><a href="/sales-support/sales-analytic">Sales Analytic</a></li>
            <li class="menu-item group-sales-support"><figure class="mega_nav--item_image"><img src="/assets/images/content/mega_nav/204.jpg" alt="" /></figure><a href="/sales-support/sales-empowering">Sales Empowering & Event Management</a></li>

    </ul>
  </div>
  <!-- topbar_contacts-->
  <ul class="topbar_contacts -mobile_sidebar">
    <li class="topbar_contacts--item"><span class="contact_phone"><i class="icons8-phone"></i>0822-9737-6700</span></li>
    <li class="topbar_contacts--item"><span class="contact_email"><i class="icons8-message"></i><a href="#">info@salesku.id</a></span></li>
    <li class="topbar_contacts--item"><span class="contact_phone"><i class="icons8-business"></i><a href="#">vOffice Level 12-1N</a></span></li>
  </ul>
  <!-- /topbar_contacts-->
  <!-- follow us-->
  <div class="follow_us -mobile_sidebar">
    <strong>Follow us</strong>
    <ul>
      <li><a href="https://www.facebook.com/salesku.salesku.9"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/salesku_id"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
  <!-- /follow us-->
</div>
