<div id="mobile_sidebar" class="mobile_sidebar">
  <div class="mobile_sidebar--closer -white">
    <button class="c-hamburger c-hamburger--htx is-active"><span>toggle menu</span></button>
  </div>
  <div class="mobile_menu">
    <ul class="menu">

      <li class="menu-item"><a href="/kartu-kredit/promo">Kartu Kredit Promo</a></li>
      <li class="menu-item"><a href="/kartu-kredit/reward">Kartu Kredit Reward</a></li>
      <li class="menu-item"><a href="/kartu-kredit/cashback">Kartu Kredit Cashback</a></li>
      <li class="menu-item"><a href="/kartu-kredit/miles">Kartu Kredit Miles</a></li>
      <li class="menu-item"><a href="/kartu-kredit/shopping">Kartu Kredit Shopping</a></li>
      <li class="menu-item"><a href="/kartu-kredit/travel">Kartu Kredit Travel</a></li>
      <li class="menu-item"><a href="/kartu-kredit/lifestyle">Kartu Kredit Lifestyle</a></li>
      <li class="menu-item"><a href="/kartu-kredit/charge-card">Kartu Kredit Charge Card</a></li>
      <li class="menu-item"><a href="/kartu-kredit/syariah">Kartu Kredit Syariah</a></li>


      <li class="menu-item"><a href="/asuransi/mobil">Asuransi Mobil</a></li>
      <li class="menu-item"><a href="/asuransi/motor">Asuransi Motor</a></li>
      <li class="menu-item"><a href="/asuransi/sepeda">Asuransi Sepeda</a></li>
      <li class="menu-item"><a href="/asuransi/rumah-apartment">Asuransi Rumah Apartemen</a></li>
      <li class="menu-item"><a href="/asuransi/ruko-rukan">Asuransi Ruko Rukan</a></li>
      <li class="menu-item"><a href="/asuransi/tempat-usaha">Asuransi Tempat Usaha</a></li>
      <li class="menu-item"><a href="/asuransi/industri">Asuransi Industri</a></li>
      <li class="menu-item"><a href="/asuransi/kesehatan">Asuransi Kesehatan</a></li>
      <li class="menu-item"><a href="/asuransi/personal-accident">Asuransi Personal Accident</a></li>
      <li class="menu-item"><a href="/asuransi/travel">Asuransi Travel</a></li>
      <li class="menu-item"><a href="/asuransi/surety-bond">Asuransi Surety Bond</a></li>
      <li class="menu-item"><a href="/asuransi/prefessional-indemnity">Asuransi Professional Indemnity</a></li>
      <li class="menu-item"><a href="/asuransi/marine-cargo">Asuransi Marine Cargo</a></li>
      <li class="menu-item"><a href="/asuransi/term-life">Asuransi Term Life</a></li>
      <li class="menu-item"><a href="/asuransi/unit-link">Asuransi Unit Link</a></li>
      <li class="menu-item"><a href="/asuransi/dana-pensiun">Asuransi Dana Pensiun</a></li>

      <li class="menu-item"><a href="/training/learning-and-development">Training Learning & Development</a></li>
      <li class="menu-item"><a href="/training/professional-selling-skill">Training Professional Selling Skill</a></li>
      <li class="menu-item"><a href="/training/sales-leadership">Training Sales Leadership</a></li>
      <li class="menu-item"><a href="/training/customer-relationship-management">Training Customer Relationship Management</a></li>
      <li class="menu-item"><a href="/training/collection-skill">Training Collection Skill</a></li>
      <li class="menu-item"><a href="/training/managing-for-growth">Training Managing for Growth</a></li>
      <li class="menu-item"><a href="/training/professional-development-and-team-building">Training Professional Development & Team Building</a></li>

      <li class="menu-item"><a href="/sales-support/online-offline">Sales Support Online-Offline</a></li>
      <li class="menu-item"><a href="/sales-support/multi-product">Sales Support Multi Product</a></li>
      <li class="menu-item"><a href="/sales-support/sales-analytic">Sales Support Sales Analytic</a></li>
      <li class="menu-item"><a href="/sales-support/sales-empowering">Sales Support Sales Empowering</a></li>

    </ul>
  </div>
  <!-- topbar_contacts-->
  <ul class="topbar_contacts -mobile_sidebar">
    <li class="topbar_contacts--item"><span class="contact_phone"><i class="icons8-phone"></i>0822-9737-6700</span></li>
    <li class="topbar_contacts--item"><span class="contact_email"><i class="icons8-message"></i><a href="#">info@salesku.id</a></span></li>
    <li class="topbar_contacts--item"><span class="contact_phone"><i class="icons8-business"></i><a href="#">vOffice Level 12-1N</a></span></li>
  </ul>
  <!-- /topbar_contacts-->
  <!-- follow us-->
  <div class="follow_us -mobile_sidebar">
    <strong>Follow us</strong>
    <ul>
      <li><a href="https://www.facebook.com/salesku.salesku.9"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/salesku_id"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
  <!-- /follow us-->
</div>
